@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

html {
  scroll-behavior: smooth;
}

/* body */
.body-style {
    background-color: #E5EAFA;
    font-family: 'pompiere', sans-serif;
    color: #4a4238ff;
}
/* nav */
.nav-style {
    color: #4a4238ff;
}
.nav-style:hover{
    color: #66a182ff;
}
/* Main title */
.header-style {
    background-color: #66a182ff;
}
.subtitle {
    text-align: center;
    letter-spacing: 3px;
    padding-top: 1em;
}
.intruction-text {
    text-align: center;
    letter-spacing: 3px;
    width: 90%;
    padding-bottom: 1em;
    padding-top: 1em;
}

/* Main pic */
.mainpic {
    width: 100%;
}
/* buttons */
.buttons-div {
    width: 100%;
    padding-bottom: 1em;
    text-align: center;
}
/* Map */
#map {
    position: relative;
    height: 400px;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
}
/* Footer */ 
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  position: fixed;
}
.footer-colour {
    background-color: #E5EAFA;
}

/* Summary boxes */

.hideme {
    display: none !important;
}

.infoheader {
    text-align: center;
}

.dest-text-format {
    background-color: #66a182ff;
    color: black;
    font-size: x-large;
} 

/* form */
.form-style {
    border-color: #4a4238ff;
    border-style: ridge;
    padding: 40px;
    margin-bottom: 50px;
    margin-top: 1em;
    background-color: #66a182ff;
    color: black;
    font-size: large;
}

.form-textbox-style {
    background-color: #E5EAFA;
}

/* Destination divs */

.image-format{
    width: 95%;
    text-align: center;
    display: block;
    padding: 15px;
}
