@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');


/* colours
--dark-lava: #4a4238ff;
--shiny-shamrock: #66a182ff;
--middle-red: #e2856eff;
--lavender-web: #e5eafaff;
--cg-blue: #007ea7ff;

*/



/* body */

.body-style {
    background-color: #E5EAFA;
}

/* Main title */

.title-main {
    text-align: center;
    color: #007EA7;
    letter-spacing: 3px;
    font-family: 'pompiere', sans-serif;
}

.subtitle {
    text-align: center;
    color: #007EA7;
    letter-spacing: 3px;
    font-family: 'pompiere', sans-serif;
}

.intruction-text {
    text-align: center;
    color: #007EA7;
    letter-spacing: 3px;
    font-family: 'pompiere', sans-serif;
    font-size: 40px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Main pic */
.mainpic {
    width: 100%;
}

/* buttons */

.buttons-div {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
}

/* Map */

#map {
    position: relative;
    height: 400px;
    width: 100%;
};

Footer */
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  position: fixed;
}

/* Summary boxes */

.hideme {
    display: none;
}

/* form */
.form-style {
    border-color: #4a4238ff;
    border-style: ridge;
    padding: 40px;
    margin-bottom: 50px;
    background-color: #66a182ff;
}

.form-textbox-style {
    background-color: #E5EAFA;
}

/* Destination divs */

.image-format{
    width: 100%;
    text-align: center;
}

div > p {
    background-color: #e2856eff;
    color: #4a4238ff;
}